#side {
    -webkit-transform: translateX(0);
    transition: none;
    width: @desktopLargeSide;
    
    &:after {
        display:none;
    }   
}

#handler {
    display:none;
}

#main {
    margin-left: @desktopLargeSide;
}
