/**
 * NoBlackMagic | Desktop
 */

#side {
	position: fixed;
	top: 0;
	left: 0;
	
	display: block;
	width: @desktopSidebarWidth;
	height: 100%;
}

#sidew {
	position: relative;
	
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    
	height: 100%;
	margin: @desktopMenuVMargin @desktopMenuHMargin;
}

#sideh {
    display: block;
    height: @desktopHeaderHeight;
}

#sidec {
    -webkit-flex: 1;
    flex: 1;
    height: 0px;
    overflow-y: auto;
    .touch-scrolling(touch);
}

#handler {
	display: none;
}

#main {
	margin: @desktopMainVMargin @desktopMainHMargin;
	margin-left: @desktopSidebarWidth + @desktopMainHMargin;
}
