/**
 * ThemeVicenza
 * mobile first responsive theme
 */

// HTML5 Reset
@import "../3rd-party/common-less-css/html5-reset";



// ----------------------------------------- //
// ---[[   C O N F I G U R A T I O N   ]]--- //
// ----------------------------------------- //

/**
 * General
 */

// global - main area
@bgColor: #fff;

// sidebar
@sideBgColor: #666;

@sideTransition: .6s ease;


/**
 * Smartphones
 */

@smartphoneHeaderHeight: 60px;
@smartphoneMenuHeight: 300px;

// handler size
@smartphoneHandlerWidth: @smartphoneHeaderHeight - 20%;
@smartphoneHandlerHeight: @smartphoneHandlerWidth;
// horizontal / vertical margins
@smartphoneHandlerHMargin: @smartphoneHeaderHeight / 2 - @smartphoneHandlerHeight / 2;
@smartphoneHandlerVMargin: @smartphoneHandlerHMargin;

@smartphoneHandlerBackground: red;
@smartphoneHandlerABackground: @smartphoneHandlerBackground;


/**
 * Tablet
 */

@tabletSidebarWidth: @smartphoneMenuHeight;
@tabletHandlerWidth: @smartphoneHandlerWidth;

/**
 * Desktop
 */

@desktopLargeSide: @tabletSidebarWidth;













html, body {
    width: 100%;
	height: 100%;
    background: @bgColor;
}

// --------------------------- //
// ---[[   M O B I L E   ]]--- //
// --------------------------- //

/* old old old */
@import "small";

/* smartphones portrait */
@media screen and (min-width: 320px) and (max-width: 479px) {
    @import "smartphones";
}

/* smartphones landscape, tablet portrait */
@media screen and (min-width: 480px) {
    @import "tablet";
}

/* tablet portrait, desktop */
@media screen and (min-width: 1024px) {
    @import "desktop";    
}


