/**
 * NoBlackMagic | Basic
 */

html, body {
	overflow-x: hidden;
}

#handler {
	z-index: 3000;
}

#side {
	z-index: 2000;
	
	height: auto;
	
	background: @sideBgColor;
	
	-webkit-transform: translateZ(0); // fix mobile chrome initial position bug when content is already scrolled
}

#main {
	z-index: 1000;
	height: auto;
}
