
#side {
	position:fixed;
    top:0;
    left:0;
    display:block;
    width: @tabletSidebarWidth;
    
    height:100%;
    
    -webkit-transform: translateX(-@tabletSidebarWidth);
    -moz-transform: translateX(-@tabletSidebarWidth);
    -o-transform: translateX(-@tabletSidebarWidth);
    
    -webkit-transition: all @sideTransition;
    -moz-transition: all @sideTransition;
    -o-transition: all @sideTransition;
    
}

#sidein {
    position:relative;
    display:block;
    height:100%;
    margin: @tabletMenuVMargin @tabletMenuHMargin;
    overflow:auto;
    
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
}

#handler {
    position: absolute;
    top:0;
    right:-@tabletHandlerWidth;
    display:block;
    width: @tabletHandlerWidth;
    height: 100%;
    background: @tabletHandlerBackground;
}

#main {
    margin: @tabletMainVMargin @tabletMainHMargin;
    margin-left: @tabletHandlerWidth + @tabletMainHMargin;
}

.side-open {
    
    #side {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
    }
    
    #handler {
        background:@tabletHandlerABackground;
    }
    
}
