/**
 * NoBlackMagic | Desktop
 */


#side {
	position: fixed;
	top: 0;
	left: 0;
	
	display: block;
	width: @desktopSideWidth;
	height: 100%;

    border-right: @desktopSideBorderSize @desktopSideBorderStyle @desktopSideBorderColor;
}

#sidew {
	position: relative;
	
    display:block;
	height: 100%;

    margin: @tabletSideWrap;
}

#sideh {
    .header(@desktopHeaderHeight);
}

#sidec {
    position: relative;
    display:block;
    height: @phoneMenuHeight;
    overflow: auto;
    margin-top: @desktopMenuMargin;
}

#handler {
	display: none;
}

#main {
	margin: @desktopMainVMargin @desktopMainHMargin;
	margin-left: @desktopSideWidth + @desktopMainHMargin;
}
