/**
 * NoBlackMagic | Desktop
 */

#side {
    position: fixed;
    top: 0;
    left: 0;

    display: block;
    width: @desktopSideWidth;
    height: 100%;

    & when(@desktopSideBorderSize > 0) {
        border-right: @desktopSideBorderSize @desktopSideBorderStyle @desktopSideBorderColor;
    }
}

#sidew {
    position: relative;
    display: block;
    height: 100%;

    & when ((@desktopSideMarginTop + @desktopSideMarginRight + @desktopSideMarginBottom + @desktopSideMarginLeft) > 0) {
        margin: @desktopSideMarginTop @desktopSideMarginRight @desktopSideMarginBottom @desktopSideMarginLeft;
    }
}

#sideh {
    .header(@desktopHeaderHeight);
}

#sidec {
    position: relative;
    display: block;
    height: @phoneMenuHeight;
    overflow: auto;
    margin-top: @desktopMenuMargin;
}

#handler {
    display: none;
}

#main {
    & when ((@desktopMainMarginTop + @desktopMainMarginRight + @desktopMainMarginBottom + @desktopMainMarginLeft) > 0) {
        margin: @desktopMainMarginTop @desktopMainMarginRight @desktopMainMarginBottom @desktopMainMarginLeft;
    }
    margin-left: @desktopSideWidth + @desktopMainMarginLeft;
}
