/**
 * NoBlackMagic | Desktop
 */


#side {
	position: fixed;
	top: 0;
	left: 0;
	
	display: block;
	width: @desktopSidebarWidth;
	height: 100%;
}

#sidew {
	position: relative;
	
    display:block;
	height: 100%;
	margin: @desktopMenuVMargin @desktopMenuHMargin;
}

#sideh {
    .header(@desktopHeaderHeight);
}

#sidec {
    position: relative;
    display:block;
    height: @smartphoneMenuHeight;
    overflow: hidden;
}

#handler {
	display: none;
}

#main {
	margin: @desktopMainVMargin @desktopMainHMargin;
	margin-left: @desktopSidebarWidth + @desktopMainHMargin;
}
