/**
 * NoBlackMagic | Smartphones
 */

@phoneSideMargins: @phoneSideMarginTop + @phoneSideMarginRight + @phoneSideMarginBottom + @phoneSideMarginLeft;
@phoneSideVMargin: @phoneSideMarginTop + @phoneSideMarginBottom;

#side {
	position: fixed;
	top: 0;
	left: 0;
	
	display: block;
	width: 100%;
	height: @phoneMenuHeight + @phoneHeaderHeight + @phoneSideBorderSize;

    & when(@phoneSideBorderSize > 0) {
        border-bottom: @phoneSideBorderSize @phoneSideBorderStyle @phoneSideBorderColor;
    }
	
	.transition(all @sideTransition);
	.translate(0, -(@phoneMenuHeight - @phoneSideVMargin));
}

#sidew {
	position: relative;

    & when(@phoneSideMargins > 0) {
      margin: @phoneSideMarginTop @phoneSideMarginRight @phoneSideMarginBottom @phoneSideMarginLeft;
    }
}

#sideh {
	position: absolute;
	top: @phoneMenuHeight - @phoneSideVMargin;
	left: 0;
    
    .header(@phoneHeaderHeight);
	width: 100%;
}

#sidec {
	position: absolute;
	top: -(@phoneSideBorderSize + @phoneSideVMargin);
	display: block;
	
	width: 100%;
	height: @phoneMenuHeight - @phoneMenuMargin - @phoneSideVMargin * 2;
	margin-top: @phoneMenuMargin;
	overflow: auto;
	
	.touch-scrolling(touch);
}

#handler {
	position: fixed;
	top: @phoneHandlerVMargin + @phoneSideVMargin / 2;
	right: @phoneHandlerHMargin + @phoneSideMarginRight;
	
	display: block;
	width: @phoneHandlerWidth;
	height: @phoneHandlerHeight;

    & when(@phoneHandlerAnimate = true) {
	    .transition(all @sideTransition);
    }
    
    & when(@phoneHandlerArrow = false) {
        background: @phoneHandlerBackground;
    }
    
    & when(@phoneHandlerArrow = true) {
        .smartphone-arrow();
    }
    
}

#main {
    & when ((@phoneMainMarginTop + @phoneMainMarginRight + @phoneMainMarginBottom + @phoneMainMarginLeft) > 0) {
        margin: @phoneMainMarginTop @phoneMainMarginRight @phoneMainMarginBottom @phoneMainMarginLeft;
    }
    margin-top: @phoneHeaderHeight + @phoneSideBorderSize + @phoneSideVMargin + @phoneMainMarginTop;
}







/**
* Both menu and content slides down when menu extends.
* menu's header and nav invert their positions
*/

.side-open {

	#side {
		.translate(0, 0);
	}
	
	#sideh {
		top:0;
	}
	
	#sidec {
		top:@phoneHeaderHeight;
	}
	
	#handler {
		background:@phoneHandlerActiveBackground;
		
		.rotate(180deg);
        
        & when(@phoneHandlerArrow = true) {
            .smartphone-arrow();
        }
	}

}







