/**
 * NoBlackMagic | Tablet
 */

#side {
	position: fixed;
	top: 0;
	left: 0;
	
	display: block;
	width: @tabletSidebarWidth;
	height: 100%;

    border-right: @tabletBorderSize @tabletBorderStyle @tabletBorderColor;
	
	.transition(all @sideTransition);
	.translate(-(@tabletSidebarWidth - @tabletSidebarOffset), 0);
}

#sidew {
	position: relative;
	
	display: block;
	height: 100%;

    margin: @tabletSidebarWrap;
}

#sideh {
    .header(@tabletHeaderHeight);
}

#sidec {
    position: relative;
    display:block;
    height: @phoneMenuHeight;
    overflow: auto;

    margin-top: @tabletMenuMargin;
}

#handler {
	position: fixed;
	top: 0;
	left: @tabletSidebarOffset;
	z-index: 1000;
	
	display: block;
	width: @tabletHandlerWidth;
	height: 100%;
	
	background: @tabletHandlerBackground;
	
	.transition(all @sideTransition);
	.translate(0, 0);
    
    & when (@tabletHandlerArrow = true) {
        .tablet-arrow();
    }
}

html, body {
	width:100%;
	overflow-x:hidden;
}

#main {
	z-index: 999;
	margin: @tabletMainVMargin @tabletMainHMargin;
	margin-left: @tabletHandlerWidth + @tabletMainHMargin + @tabletSidebarOffset;
	
	.transition(all @sideTransition);
	-webkit-backface-visibility: hidden;
}

.side-open {
	
	#side {
		.translate(0, 0);
	}
	
	#handler {
		background: @tabletHandlerABackground;
		
		.translate(@tabletSidebarWidth - @tabletSidebarOffset, 0);
        
        & when (@tabletHandlerArrow = true) {
            .tablet-arrow();
        }
	}
	
	#main {
		.translate((@tabletSidebarWidth - @tabletSidebarOffset) * @tabletMainParallax, 0);
	}
	
}



